:root {
    --he-verde-profundo: #123b30; /* Cor principal */
    --he-branco: #ffffff; /* Fundo e contraste */
    --he-dourado-suave: #d4ad67; /* Horizonte, filetes, destaques */
    --he-cinzento-esverdeado: #e9eee9; /* Fundos secundários */
}
